.pet-image {
  height: 300px;
  width: auto;
}

.pet-name {
  font-weight: 700;
  font-size: 200%;
}

.pet-name-legend {
  margin-left: 30px;
  margin-right: 30px;
}

li {
  list-style: none;
}

.pet-fieldset {
  margin: 2% 10% 2% 10%;
}