.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-title {
  margin: 2% 0% 0% 0%;
  font-size: 340%;
  color: #344C70;
}

.App-header-slogan {
  font-variant: small-caps;
  margin: 0% 0% 5% 0%;
}

.header-photo {
  width: 75%;
}